* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(60deg, #cacaca 10%, rgb(247, 146, 146));
  padding: 10px;
}

.todo-table {
  width: 100%;
  max-width: 800px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

#form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background: #edeef0;
  border-radius: 50px;
  padding-left: 20px;
}

#title {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}

#add-btn {
  border: none;
  outline: none;
  padding: 1.6rem 5rem;
  background: #f76353;
  font-size: 1.8rem;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.25s;
}

#add-btn:hover {
  transform: translatex(10px);
}

table {
  margin-top: 30px;
  width: 100%;
}

#remove-all {
  right: 0;
  margin: 5px auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f76353;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

#remove-all:hover {
  transform: translateY(5px);
}

#remove-btn {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f76353;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

#remove-btn:hover {
  transform: translatey(5px);
}

#task-list td {
  padding: 20px;
  font-size: 0.9rem;
}

.td-status {
  width: 125px;
  font-weight: bold;
}

.td-remove {
  width: 100px;
}

.completed {
  color: green;
}

.pending {
  color: #ccc;
}
